//banner
.bg-banner{
  background-image:url("../images/bg/bg_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 40px 0;
  @media(max-width:1024px){
    padding:5px 0;
  }
}
.banners{
  padding-top: 40px;
  @media(max-width:1024px){
    padding-top: 20px;
  }
  .box-referrers{
    position:relative;
    z-index: 1;
    max-width: 370px;
    padding:15px 20px;
    padding-bottom:52px;
    border-radius:4px;
    border:2px solid #3e79a8;
    background: rgba(119,178,176,1);
    background: -moz-linear-gradient(top, rgba(119,178,176,1) 0%, rgba(35,78,110,1) 67%, rgba(26,61,89,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(119,178,176,1)), color-stop(67%, rgba(35,78,110,1)), color-stop(100%, rgba(26,61,89,1)));
    background: -webkit-linear-gradient(top, rgba(119,178,176,1) 0%, rgba(35,78,110,1) 67%, rgba(26,61,89,1) 100%);
    background: -o-linear-gradient(top, rgba(119,178,176,1) 0%, rgba(35,78,110,1) 67%, rgba(26,61,89,1) 100%);
    background: -ms-linear-gradient(top, rgba(119,178,176,1) 0%, rgba(35,78,110,1) 67%, rgba(26,61,89,1) 100%);
    background: linear-gradient(to bottom, rgba(119,178,176,1) 0%, rgba(35,78,110,1) 67%, rgba(26,61,89,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77b2b0', endColorstr='#1a3d59', GradientType=0 );
    &::before{
      content:'';
      position: absolute;
      top: -54px;
      left: -40px;
      width: 110px;
      height: 140px;
      background-image:  url('../images/bg/img_tree_top.png');
      background-repeat: no-repeat;
      background-position: top left;
    }
    &::after{
      content:'';
      position: absolute;
      bottom: -40px;
      right: -54px;
      width: 110px;
      height: 140px;
      z-index: -1;
      background-image: url('../images/bg/img_tree_footer.png');
      background-repeat: no-repeat;
      background-position: bottom right;
    }
    .title{
      color:$text-blue;
      text-transform: uppercase;
      letter-spacing: 1px;

    }
    .number{
      font-size: 30px;
      @include font-page($font-bold);
      letter-spacing: 1px;
    }
    .icon-users{
      position: absolute;
      top: 30px;
      left: -10px;
      background: #ef4035;
      font-size: 34px;
      padding: 0px 8px;
      height: 48px;
      box-shadow: 2px 4px 0 #3c6569;
      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        /* left: 101%; */
        right: -18px;
        border: 20px solid transparent;
        border-left-color: #3c6569;
        border-top-color: #3c6569;
        border-width: 24px 8px;
        z-index: 0;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -16px;
        border: 20px solid transparent;
        border-left-color: #ef4035;
        border-top-color: #ef4035;
        border-width: 24px 8px;
        z-index: 1;
      }
    }
    .hours{
      font-size: 15px;
      letter-spacing: 2px;
    }
    .tbl-referrers{
      margin-bottom: 3px;
      thead{
        th{
          font-size: 12px;
          border-top:none;
          border-bottom: 1px solid #66b1b7;
          letter-spacing: 1px;
        }
      }
      tbody{
        border-bottom: 1px solid #66b1b7;
        td{
          padding:3px .4rem;
          border-top:none;
          font-size: 15px;
        }
        td:first-child{

        }
        td:last-child{
          text-align:right;
          color: #62b1b0;
        }
      }
    }
    .fa-question-circle{
      padding-right:15px;
    }
    .description{
      font-size: 11px;
      letter-spacing: 1px;
    }
    .btn-question{
      text-align: left;
      color: #fff;
      letter-spacing: 2px;
      height: 50px;
      padding: 15px 20px;
      font-size: 16px;
      text-transform: uppercase;
      position: absolute;
      background: #152534;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
