.bonuses{
  max-width: 230px;
  background: #fff;
  box-shadow: 6px 8px 9px #ccc;
  border-radius:6px;
  padding:20px;
  text-align: center;
  .name{
    color:$text-blue-light;
    font-size: 18px;
    margin-bottom:40px;
    font-weight:bold;
    text-transform:uppercase;
  }
  .btn-bonus{
    width:100%;
    padding: 10px 0;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    background: rgba(60,101,105,1);
    background: -moz-linear-gradient(top, rgba(60,101,105,1) 0%, rgba(93,177,185,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60,101,105,1)), color-stop(100%, rgba(93,177,185,1)));
    background: -webkit-linear-gradient(top, rgba(60,101,105,1) 0%, rgba(93,177,185,1) 100%);
    background: -o-linear-gradient(top, rgba(60,101,105,1) 0%, rgba(93,177,185,1) 100%);
    background: -ms-linear-gradient(top, rgba(60,101,105,1) 0%, rgba(93,177,185,1) 100%);
    background: linear-gradient(to bottom, rgba(60,101,105,1) 0%, rgba(93,177,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c6569', endColorstr='#5db1b9', GradientType=0 );
  }
}
