#timer{
  .title{
    font-family: "open Sans";
    font-weight: bold;
    font-size: 31px;
    color: #3c6568;
  }
  li{
    position: relative;
    display: inline-block;
    background: #5bafb7;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    width: 70px;
    height: 85px;
    p:first-child{
      font-size: 32px;
    }
    p{
      padding: 4px;
    }
    .note{
      width: 100%;
      background: #3c6568;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

}
