.navbar{
  padding:0;
  .navbar-brand{
      padding:0;
  }
}
.navbar-nav,.login-register {
  li{
    a {
      display: block;
      padding: 15px 5px;
      color: #ffffff;
      text-transform:uppercase;
          font-size: 13px;
    }
  }
}
.login-register {
  #dropdownLanguage{
    border: none;
    padding: 7px 10px;
    padding-right:20px;
  }
  .btn{
    padding: 6px 16px;
    margin-right:5px;
     font-size: 13px;
  }
  li:last-child {
    a span{
      padding: 0px 10px;
      border-left: 1px solid #ccc;
       font-size: 13px;
    }
  }
  .dropdown{  .fa-angle-right{padding-left:3px;}
  &.show{
    .fa-angle-right{
      transform: rotate(90deg);
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu{
    a{
      color:$text;
      padding: 6px 15px;
    }
  }
}
}

.menu-fixed {
  position: fixed !important;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background: #fff;
  box-shadow: 1px 1px 2px #d4d4d4;
  .navbar-nav,.login-register{
    >li {
      >a, button, span {
        color: $text;
      }
      .btn-light{
        background:#d6dbe0;
      }
    }
  }
}
