#airDropModal{
  z-index: 99999;
  .modal-dialog{
    .modal-content{
      background-image:url("../images/bg/airdrop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center right;
      min-width: 900px;
      a,p {
        display: inline-block;
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        padding: 0;
      }
      a:hover{color: $theme-color2}
      span.text-blue-light{
        color:#4db1b1;
      }
    }
  }
}
