.bg-register{
  background-image: url("../images/bg/bg_register_email.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  @media(max-width:1024px){
    padding:5px 0;
  }
}
