.tbl-service{
  $border:#1e243a;
  border: 3px solid #3c6468;
  border-radius: 18px;
  border-collapse: inherit;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  &.tbl-projects{
    border: 3px solid #359efc;
    thead{
      th{  width: 110px;
      }
    }
    td{
      padding: 10px 5px;
    }
  }
  thead{
    th{
      text-align: center;
      border-top:none;
      border-bottom: 2px solid $border;
      font-weight: normal;
      width: 126px;
      border-left:  2px solid $border;
      &:first-child{
        width:auto
      }
    }


  }
  tbody{
    tr.group{
      td{
        vertical-align: middle;
        border-left: 3px solid transparent;
      }
    }
    td{
      font-size: 15px;
      border-top: none;
      border-bottom: 2px solid $border;
      border-left:  2px solid $border;
      .fa-check-circle,.fa-times-circle{
        font-size: 22px;
      }
      .fa-check-circle{
        color: #a1ea0d;
      }
      .fa-times-circle{
        color: #f10c4e;
      }
      p{
        font-size: 12px;
      }

    }
    td:first-child{
      font-size: 15px;
      text-align: left;
      padding-left: 15px;
      border-left: 3px solid #3c6468;
      vertical-align: middle;
      // &:not(  td[colspan="2"]){
      //
      // }

    }
    td[rowspan="2"] + td{
      // font-size: 13px;
      text-align: left;
    }
    tr:last-child td{
      border-bottom: none;
    }
    .no-border{
      // font-size: 13px!important;
      text-align: left;
      border-left:  2px solid $border !important;
    }
  }
}
