.nav-tabs{
  text-align: center;
  margin:20px 0;
  border: none;
      font-family: "open Sans";
  li{
    padding: 0px 10px;
    a{
      color: #fff;
      display:block;
      opacity: 0.2;
      font-size: 24px;
      display: inline-block;
      padding: 10px 0px;
      &:hover,&:focus,&:active{
        opacity:1;
      }
      img{
        pointer-events:none;
      }
      &.active{
          font-weight: bold;
          opacity:1;
        }
    }

  }
  &.tab-outline{
    li{
      a{
        opacity:1;
        &:hover,&:focus,&:active{

        }
        &.active{
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}
.tab-content{
  border-top: none;
  .tab-pane {
    &.active{

    }
  }
}
@media (max-width: 440px) {
  .nav-tabs{
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    >li {
      float: none !important;    display: inline-block;
    }
  }
}
