.page-section{
  position:relative;
  padding:80px 0;
  @media(max-width:1024px){
    padding:20px 0;

  }
  a:hover{
    color:$theme-color2;
  }
}
.btn-contribute{
  background-color: #5bafb7;
  color: #fff;
  font-weight: 700;
  font-family: "Open Sans";
  border: 2px solid #4c767b;
  &:hover{
    background-color: #489ba2;
  }
}
.bg-white{
  padding:50px;
  background: #fff;
  color: $text;
  border-radius: 15px;
}
.bg-register{

}
.text-black{
  color: $text !important;
}
.btn-theme{
  background: #4db1b1;
  color:#fff;
  text-transform:uppercase;
  &:hover{
    background: #29807f;
  }
}
.bg-center{
  background-position: center;
  background-size: cover;
}
.bg-blue-light{
  background: $text-blue-light;
}
.text-blue-light{
  color:$text-blue-light;
}
.text-blue{
  color:#094aa8;
}
.title-page{
  color: $text-blue-light;
  font-size: 53px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Open Sans";
}
.description-page{
  font-size: 24px;
}
.description-blue{
  color:$text-blue-light;
  font-size: 18px;
  margin-bottom:40px;
}

.btn-register{
  margin: 20px;
  padding:.5rem 3rem !important;
  letter-spacing: 2px;
  border:1px solid #bb0500;
  box-shadow: inset 0 0 4px #ff9191;
  font-size: 30px;
  @include font-page($font-bold);
  color:#fff;
  text-transform: uppercase;
  background: rgba(255,26,0,1);
  background: -moz-linear-gradient(top, rgba(255,26,0,1) 0%, rgba(187,6,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,26,0,1)), color-stop(100%, rgba(187,6,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,26,0,1) 0%, rgba(187,6,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,26,0,1) 0%, rgba(187,6,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,26,0,1) 0%, rgba(187,6,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,26,0,1) 0%, rgba(187,6,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#bb0600', GradientType=0 );
  &:hover{
    background: rgba(187,6,0,1);
    background: -moz-linear-gradient(top, rgba(187,6,0,1) 0%, rgba(255,26,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(187,6,0,1)), color-stop(100%, rgba(255,26,0,1)));
    background: -webkit-linear-gradient(top, rgba(187,6,0,1) 0%, rgba(255,26,0,1) 100%);
    background: -o-linear-gradient(top, rgba(187,6,0,1) 0%, rgba(255,26,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(187,6,0,1) 0%, rgba(255,26,0,1) 100%);
    background: linear-gradient(to bottom, rgba(187,6,0,1) 0%, rgba(255,26,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb0600', endColorstr='#ff1a00', GradientType=0 );
  }
  @media (max-width:768px){
    font-size:22px;
    padding:12px 30px !important;
    max-width: 100% !important;
  }
  &.btn-register-lg{
    @media (min-width:768px){
      font-size: 35px;
      padding: 1rem 6rem !important;
      max-width: 100% !important;
    }
  }
}
.slider-benefits .labels{
  font-weight: 700!important;
  font-family: "open sans";
  font-size: 26px;
  .border-bottom{
    border-bottom: 1px solid #f5f5f5;
  }
}
.ul-desc{
  padding: 0 15px;
  li{
    position:relative;
    font-size: 22px;
    padding: 15px 0;

&:before{
  content: '';
  position: absolute;
  width:60%;
  height: 1px;
  background: $border-color;
  top:0;
  left: 50%;
  @include absolute-X;
}

  }
}
.group-news{
  height: 690px;
  a{
    &:hover{
      color: $theme-color2 !important;
    }

  }
  .card{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
  }
}
.project-teams{
  .media{
    .rounded-circle{
      overflow: hidden;
      img{
        transform: scale(1);
        transition: $trans;

      }
    }
    &:hover{
      img{
        transform: scale(1.2);
      }
    }

  }
}
.advisors{
  .advisor-item{
    a{
      overflow: hidden;
    }
    img{
        transform: scale(1);
        transition: $trans;

      }
    &:hover{
      img{
        transform: scale(1.2);
      }
    }
  }
}
@media only screen and (max-width: 992px), only screen and (max-device-width: 992px) {

}
@media only screen and (max-width: 768px){
  .group-news{
    height: auto !important;
    .h-25,.h-100,.h-75,.h-50{
      height: 300PX !important;
    }
  }

}
@media only screen and (max-device-width: 520px)  and (orientation : portrait){

}
