
.font-normal{
  font-family: $font-normal !important;
}
.font-bold{
  font-family:$font-bold !important;
}
.theme-color{
	background-color: $theme-color;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	margin: auto;
}
.box-img{
	float: left;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.img-center{
		position: absolute;
		margin:0 auto;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.text{
	&-warning{
		color:$warning;
	}
	&-danger{
		color:$danger;
	}
	&-info{
		color:$info;
	}
	&-primary{
		color:$primary;
	}
	&-success{
		color:$success;
	}
	&-white{
		color:#fff;
	}
}
.uppercase{	text-transform: uppercase;}
.clear-fix {clear:both; display: block; }
.no-mg{margin: 0 !important;}
.no-pd{padding: 0 !important;}
.no-mg-left{margin-left: 0 !important;}
.no-mg-right{margin-right: 0 !important;}
.no-mg-top{margin-top: 0 !important;}
.no-mg-bottom{margin-bottom: 0 !important;}
.no-pd-left{padding-left: 0 !important;}
.no-pd-right{padding-right: 0 !important;}
.no-pd-top{padding-top: 0 !important;}
.no-pd-bottom{padding-bottom: 0 !important;}

.help-block {
	margin-top: 0;
	color: $danger;
}
.inline-block {
	display: inline-block;
	vertical-align: middle;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-lowercase{
	text-transform: lowercase;
}

.position{
	&-relative{
		position: relative;
	}
	&-absolute{
		position: absolute;
	}
}
@for $i from 1 through 10{
	.opacity-0-#{$i}{
		opacity: #{$i * (1/10)}!important;
	}
}
@for $i from 1 through 10{
	.transition-0-#{$i}{
		-webkit-transition: all  #{$i * (1/10)} !important;
		-moz-transition: all  #{$i * (1/10)} !important;
		-ms-transition: all  #{$i * (1/10)} !important;
		-o-transition: all  #{$i * (1/10)} !important;
		transition: all  #{$i * (1/10)} !important;
	}
}
@for $i from 1 through 20 {
	.mg-top-#{$i*5} {
		margin-top: #{$i * 5}px !important;
	}
	.mg-bottom-#{$i*5} {
		margin-bottom: #{$i * 5}px !important;
	}
	.mg-left-#{$i*5} {
		margin-left: #{$i * 5}px !important;
	}
	.mg-right-#{$i*5} {
		margin-right: #{$i * 5}px !important;
	}
	.pd-top-#{$i*5} {
		padding-top: #{$i * 5}px !important;
	}
	.pd-bottom-#{$i*5} {
		padding-bottom: #{$i * 5}px !important;
	}
	.pd-left-#{$i*5} {
		padding-left: #{$i * 5}px !important;
	}
	.pd-right-#{$i*5} {
		padding-right: #{$i * 5}px !important;
	}
	.pd-#{$i*5} {
		padding: #{$i * 5}px !important;
	}
	.mg-#{$i*5} {
		margin: #{$i * 5}px !important;
	}
	.w-#{$i*5} {
		width: #{$i * 5}% !important;
	}
}
@for $i from 0 through 15{
	.rounded-#{$i}{
		border-radius: #{$i}px !important;
	}
}

@for $j from 1 through 100 {
	.w-#{$j} {
		width: #{$j}% !important;
	}
}

@for $i from 1 through 20 {
	.fixed-left-#{$i*5} {
		position: fixed;
		left:#{$i*5}% !important;
	}
	.fixed-right-#{$i*5} {
		position: fixed;
		right:#{$i*5}% !important;
	}
	.fixed-top-#{$i*5} {
		position: fixed;
		top:#{$i*5}% !important;
	}
	.fixed-bottom-#{$i*5} {
		position: fixed;
		bottom:#{$i*5}% !important;
	}
}

@for $j from 3 through 50 {
	.width-left-#{$j*10} {
		width: #{$j * 10}px;
		float: left;
	}
	.width-push-right-#{$j*10} {
		width:calc(100% - #{$j * 10}px);
		float:left;
	}
}
