html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
l fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
i,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:focus,
a:hover,
a:active,
button:hover,
button:focus,
button:active {
  text-decoration: none;
  outline: none;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select,
button {
  vertical-align: middle;
  outline: none;
}

input:hover,
input:active,
select:hover,
select:active,
input:focus,
select:focus,
button:hover,
button:focus,
button:active {
  outline: none;
}

/* CSS Document */
@media(min-width:768px){
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    height:8px;
    background-color: #2e2e2e;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #2e2e2e;
  }

  ::-webkit-scrollbar-thumb {
    background: #979797;
  }
}

html{
  max-width: 100%;
}
.scrollup {
  width: 50px;
  height: 50px;
  font-size:30px;
  color: #28282e;
  position: fixed;
  bottom: 80px;
  font-family: Arial;
  background: #5cafb7;
  left: 10px;
  border-radius: 50%;
  display: none;
  text-align: center;
  line-height: 40px;
  z-index: 9999999;
  text-shadow: 0px 1px 1px #000000;
  span {
    font-size: 46px;
    color: #989898;
  }
}
