

@font-face {
  font-family:'ProximaNova';
  font-weight: normal;
  font-style: normal;
  src:  local('ProximaNova'),
  local('ProximaNova'),
  // url('../fonts/ProximaNova/ProximaNova-Regular.eot') format('embedded-opentype'),
  // url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
  // url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  // url('../fonts/ProximaNova/ProximaNova-Regular.svg') format('svg'),
  url('../fonts/ProximaNova/Proxima Nova Regular.otf')  format('opentype');
}
@font-face {
  font-family:'ProximaNova-Semibold';
  font-weight: normal;
  font-style: normal;
  src: local('ProximaNova Semibold'),
  local('ProximaNova-Semibold'),
  url('../fonts/ProximaNova/Proxima Nova Semibold.otf') format('opentype');
}
