//main variable
$text                : #212121;
$bg-body             : #ecf0f5;
$light-body          : #f0f2f5;
$text-gray: #717c7c;
$text-blue: #1a3d59;
$text-blue-light:#3c6569;
$theme-color: #008cf7;
$theme-color2: #ce7100;
$bg-gray:#f5f8fa;

/* font variable */
$font-Roboto-normal:'Roboto';
$font-Roboto-bold:'Roboto-Bold';
$font-Roboto-Black:'Roboto-Black';
$font-Roboto-BoldItalic:'Roboto-BoldItalic';
$font-Roboto-Italic:'Roboto-Italic';
$font-Roboto-Light:'Roboto-Light';
$font-Roboto-Medium:'Roboto-Medium';
$font-Roboto-Thin:'Roboto-Thin';

$font-normal:'ProximaNova';
$font-bold:'ProximaNova-Semibold';

// color variable
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
$primary             : darken(#428bca, 6.5%);
$success             : #5cb85c;
$info                : #5bc0de;
$danger              : #e51c23;
$warning             : #f0ad4e;
$black               : #2d2d2d;
$gray                : #b0bec5;
$dark                : #e2e2e2;
$blue                : #247abb;
$light-blue          : #009bff;
$green: #4997fd;
$yellow: #ffd183;
$red:#dc281f;

/* page variable*/
$box-shadow:  0px 0px 6px rgba(105, 105, 105, 0.15);
$box-shadow-hover:0 22px 60px rgba(0, 0, 0, 0.15);
$border-radius:5px;
$border-color: #dddddd;
$mg-bottom:30px;
$trans: all ease 0.5s;
$trans-menu: all ease 0.2s;
